nav 
{
    background-color:#ef94d6;
    padding: 10px;
    margin-bottom: 30px;
}
nav a{color:#62d158;}
nav a:hover {background-color:#f71303;}
@media only screen and (max-width: 801px) {
    nav a{display:100%}
    nav a{display: block;}
    span{display: none;}
    nav a{display: space-around;}
}
@media only screen and (min-width:800px){
    
}
.contact {
    display: flex;
}
.linked {
    margin-left: 30px;
}
.map {
    display: flex;
}
.form {
    margin-left: 15px;
}